#This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8]
        pydra-editable: [false, true]
        pip-flags: ['', '-e']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        if ${{ matrix.pydra-editable }}; then (
            cd /tmp
            git clone https://github.com/effigies/pydra.git
            cd pydra
            git checkout fix/namespace
            pip install -e .
        ); else
            pip install git+https://github.com/effigies/pydra.git@fix/namespace
        fi
        pip install ${{ matrix.pip-flags }} ".[dev]"
    - name: Verify installation paths
      run: |
        cd /
        python -c "import pydra as mod; print(f'{mod.__version__} - {mod.__file__}')"
        python -c "import pydra.tasks.nipype1 as mod; print(f'{mod.__version__} - {mod.__file__}')"
    - name: Test with pytest
      run: |
        pytest -sv --doctest-modules pydra/tasks/nipype1
